<h1>Listing blahs</h1>

<table>
  <tr>
  </tr>

<% @blahs.each do |blah| %>
  <tr>
    <td><%= link_to 'Show', blah %></td>
    <td><%= link_to 'Edit', edit_blah_path(blah) %></td>
    <td><%= link_to 'Destroy', blah, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blah', new_blah_path %>